---
---
$breakpoints: ( "phone": 400px,
                "phone-wide": 481px,
                "phablet": 561px,
                "tablet-small": 641px,
                "tablet": 769px,
                "tablet-wide": 1025px,
                "desktop": 1248px, "desktop-wide": 1440px, "desktop-lg": 1680px, "full-hd": 1920px);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type==max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    @include mq('full-hd') {
        background-color: #827958;
    }
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    height: 2262px;
    background: url(../../img/bgc1n.gif) 50% 0% no-repeat, url(../../img/bgc2r.gif) 50% 0% repeat-y, url(../../img/bgc3r.gif) 50% 35% no-repeat, rgb(255, 241, 171);
    background-size: 110%;
      @include mq('tablet-wide',max){
        background-position: 50% 0, 50% 0, 50% 73%;
    }
    @include mq('tablet', max){
          background-position: 30% 0, 30% 0, 30% 40%;
    }
        @include mq ('phablet', max) {
        background-size: 162%;
    }
     @include mq('desktop') {
        background-position: 50% 0, 50% 0, 50% 56%;
    }
      @include mq('tablet-small', max) {
              background-position: 30% 0, 30% 0%, 30% 42%;
    background-size: 129%;
    }
    @include mq('phone-wide', max){
//        background-position: 30% 0, 30% 0%, 30% 42%;
//         background: url(../../img/bgc1n.gif) 30% 0% no-repeat, url(../../img/bgc22.gif) 30% 0% repeat-y, rgb(255, 241, 171);
         background-position: 30% 0, 30% 0%, 30% 25%;
         background-repeat: no-repeat, repeat-y, repeat-y;
        background-size: 130%;
    }

}

.left__side {
    @include mq('full-hd') {
        width: 100px;
        height: 2262px;
        background-image: url(../../img/cimon.gif);
        background-repeat: repeat-y;
        float: left;
    }
}

.right__side {
    @include mq('full-hd') {
        width: 100px;
        height: 2262px;
        background: url(../../img/cimon2.gif) 100% 100% repeat-y;
        float: right;
    }
}

main {
    width: 100%;
    height: 100%;
        height: 2200px;
    background: url(../../img/main_bgc1.gif) 50% 0% no-repeat, url(../../img/main_bgc2.gif) 50% 0% repeat-y, url(../../img/main_bgc3.gif) 50% 35% no-repeat;
    background-size: 110%;
    @include mq('desktop') {
        background-position: 50% 0, 50% 0, 50% 56%;
    }
    @include mq('tablet-wide',max){
        background-position: 50% 0, 50% 0, 50% 73%;
    }
    @include mq('tablet', max){
          background-position: 30% 0, 30% 0, 30% 44%;
    }
    @include mq ('phablet', max) {
        background-size: 162%;
    }
     @include mq('tablet-small', max) {
          background-position: 30% 0, 30% 0%, 30% 42%;
    background-size: 129%;
    }
     @include mq('phone-wide', max){
       background-position: 30% 0, 30% 0%, 30% 25%;
         background-repeat: no-repeat, repeat-y, repeat-y;
//         background: url(../../img/main_bgc1.gif) 30% 0% no-repeat, url(../../img/main_bgc2.gif) 30% 0% repeat-y,url(../../img/main_bgc3.gif) 30% 25% repeat;
        background-size: 130%;
    }
}

.container {
    height: 1962px;
    width: 100%;
    @include mq ('phone-wide', max) {
  
    }
}

footer {
    width: 100%;
    height: 300px;
    background-color: #dfcf95;
}