<header>
    <nav role="navigation" class="nav">
        <h1 class="nav__logo">
            <a href="#">CIMON.IO</a>
        </h1>
        <ul class="nav__list">
            <li class="nav__list__item">
                <a href="#" class="nav__link">About
                </a>
            </li>
            <li class="nav__list__item">
                <a href="#" class="nav__link nav__link--width">Reguest Demo
                </a>
            </li>
            <li class="nav__list__item">
                <a href="#" class="nav__link">Docs
                </a>
            </li>
            <li class="nav__list__item">
                <a href="#" class="nav__link">Sign In
                </a>
            </li>
            <li class="nav__list__item">
                <a href="#" class="nav__link">Sign Up
                </a>
            </li>
        </ul>
    </nav>
</header>