<meta content='text/html;charset=UTF-8' http-equiv='content-type'>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="author" content="Osipenko Alexey">
<meta name="description" content="{{ site.description }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
<meta content='on' http-equiv='cleartype'>
<meta content='black-translucent' name='apple-mobile-web-app-status-bar-style'>
<meta content='width=device-width,initial-scale=1.0,maximum-scale=1.5,user-scalable=yes' name='viewport'>
<meta content='no' http-equiv='imagetoolbar'>
<meta content='en' http-equiv='Content-Language'>
<meta content='progid:DXImageTransform.Microsoft.Fade(Duration=0.2)' http-equiv='Page-Exit'>
<meta content='all' name='robots'>
<!--//favicon-->
<link rel="apple-touch-icon" sizes="57x57" href="{{"/apple-touch-icon-57x57.png" | prepend: site.prefix }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{"/apple-touch-icon-60x60.png" | prepend: site.prefix }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{"/apple-touch-icon-72x72.png" | prepend: site.prefix }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{"/apple-touch-icon-76x76.png" | prepend: site.prefix }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{"/apple-touch-icon-114x114.png" | prepend: site.prefix }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{"/apple-touch-icon-120x120.png" | prepend: site.prefix }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{"/apple-touch-icon-144x144.png" | prepend: site.prefix }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{"/apple-touch-icon-152x152.png" | prepend: site.prefix }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{"/apple-touch-icon-180x180.png" | prepend: site.prefix }}">
<link rel="icon" type="image/png" sizes="196x196"  href="{{"/favicon-196x196.png" | prepend: site.prefix }}">
<link rel="icon" type="image/png" href="{{"/favicon-128.png" | prepend: site.prefix }}" sizes="128x128" />
<link rel="icon" type="image/png" sizes="32x32" href="{{"/favicon-32x32.png" | prepend: site.prefix }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{"/favicon-96x96.png" | prepend: site.prefix }}">
<link rel="icon" type="image/png" href="{{"/favicon.png" | prepend: site.prefix }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{"/favicon-16x16.png" | prepend: site.prefix }}">
<link rel="icon" type="image/png" href="{{"/favicon.ico" | prepend: site.prefix }}">
<meta name="application-name" content="cimon.io"/>
<meta name="msapplication-TileColor" content="rgba(255, 255, 255, 0)">
<meta name="msapplication-TileImage" content="{{"/mstile-144x144.png" | prepend: site.prefix }}">
<meta name="msapplication-square70x70logo" content="{{"/mstile-70x70.png" | prepend: site.prefix }}"/>
<meta name="msapplication-square150x150logo" content="{{"/mstile-150x150.png" | prepend: site.prefix }}"/>
<meta name="msapplication-wide310x150logo" content="{{"/mstile-310x150.png" | prepend: site.prefix }}"/>
<meta name="msapplication-square310x310logo" content="{{"/mstile-310x310.png" | prepend: site.prefix }}"/>
<meta name="theme-color" content="rgba(255, 255, 255, 0)">
<!--//Gooogle+-->
<meta itemprop="name" content="Cimon.io"/>
<meta itemprop="description" content="{{ site.description }}"/>
<meta itemprop="image" content="{{"/image/screen.svg" | prepend: site.url }}"/>
<!--//Twitter-->
<meta name="twitter:card" content="summary"/>  <!-- Тип окна -->
<meta name="twitter:site" content="Cimon.io"/>
<meta name="twitter:title" content="Название страницы">
<meta name="twitter:description" content="{{ site.description }}"/>
<meta name="twitter:creator" content="автор"/>
<meta name="twitter:image:src" content="https://website.com/image250X250.png"/>
<meta name="twitter:domain" content="website.com"/>
<!--//Facebook-->
<meta property="og:type" content="profile"/>
<meta property="profile:first_name" content="Имя"/>
<meta property="profile:last_name" content="Фамилия"/>
<meta property="profile:username" content="Ник"/>
<meta property="og:title" content="Название страницы"/>
<meta property="og:description" content="{{ site.description }}"/>
<meta property="og:image" content="https://website.com/image250X250.png"/>
<meta property="og:url" content="http://www.site.com"/>
<meta property="og:site_name" content="Cimon.io"/>
<meta property="og:see_also" content="http://www.website.com"/>
<meta property="fb:admins" content="Facebook_ID"/>
