<meta content='text/html;charset=UTF-8' http-equiv='content-type'>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content='on' http-equiv='cleartype'>
<meta content='black-translucent' name='apple-mobile-web-app-status-bar-style'>
<meta content='width=device-width,initial-scale=1.0,maximum-scale=1.5,user-scalable=yes' name='viewport'>
<meta content='no' http-equiv='imagetoolbar'>
<meta content='en' http-equiv='Content-Language'>
<meta content='progid:DXImageTransform.Microsoft.Fade(Duration=0.2)' http-equiv='Page-Exit'>
<meta content='all' name='robots'>
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.prefix}}">
<link rel="icon" type="image/png" href="{{"/favicon-32x32.png" | prepend: site.prefix }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{"/favicon-16x16.png" | prepend: site.prefix }}" sizes="16x16">
<link rel="manifest" href="{{"/manifest.json" | prepend: site.prefix }}">
<link rel="mask-icon" href="{{"/safari-pinned-tab.svg" | prepend: site.prefix }}" color="#FFF0AA">
<meta name="theme-color" content="#ffffff">


