<section class="section--2">
    <img src="{{"/images/2-1.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--2-1">
    <img src="{{"/images/2-2.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--2-2">
    <img src="{{"/images/2-3.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--2-3">
    <img src="{{"/images/2-4.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--2-4">
    <img src="{{"/images/2-5.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--2-5">
    <div class="section__post section__post--2">
        <div class="section__post--inner">
            <h2 class="section__post__head">TEST AND RUN EVERYTHING YOU WANT
            </h2>
            <p class="section__post__text section__post__text--2">Cimon is a continuous integration platform and hosting for the staging servers at once.
            </p>
        </div>
    </div>
</section>