<section class="section--1">
    <div class="section__post">
        <h2 class="section__post__head">BUILD AND DEPLOY AUTOMATION</h2>
        <p class="section__post__text">Cimon is a platform for building your applications and run staging servers.</p>
        <a href="#SignIn" class="section__post__link">
            <i class="section__post__icon"></i>request beta account
        </a>
    </div>
    <img src="images/1-1.svg" alt="background-conveyor" class="section__img--1-1">
    <img src="images/1-2.svg" alt="background-conveyor" class="section__img--1-2">
    <img src="images/1-3.svg" alt="background-conveyor" class="section__img--1-3">
    <figure class="section__figure--left">
        <img src="images/cimon.svg" alt="robot">
        <img src="images/cimon.svg" alt="robot">
        <img src="images/cimon.svg" alt="robot">
        <img src="images/cimon.svg" alt="robot">
    </figure>
    <figure class="section__figure--right">
        <img src="images/cimon-hand-up.svg" alt="robot">
    </figure>
</section>