<section class="section--4">
    <img src="{{"/images/4-1.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--4-1">
    <img src="{{"/images/4-2.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--4-2">
    <img src="{{"/images/4-3.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--4-3">
    <img src="{{"/images/4-4.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--4-4">
    <figure class="section__figure--4">
        <img src="{{"/images/cimon-pirate.svg" | prepend: site.prefix }}" alt="robot">
    </figure>
    <div class="section__post section__post--4">
        <h2 class="section__post__head">Supported languages
        </h2>
        <p class="section__post__text section__post__text--2">Build scripts are written in yml file and support any programming language based on Linux.
        </p>
    </div>
    <div class="section__post section__post--5">
    </div>
</section>