<section class="section--3">
    <img src="images/3-1.svg" alt="background-conveyor" class="section__img--3-1">
    <img src="images/3-2.svg" alt="background-conveyor" class="section__img--3-2">
    <img src="images/3-3.svg" alt="background-conveyor" class="section__img--3-3">
    <img src="images/3-4.svg" alt="background-conveyor" class="section__img--3-4">
    <div class="section__post section__post--3">
        <div class="section__post--box">
            <span class="section__post__head">SET UP JUST IN SECONDS
            </span>
            <p class="section__post__text section__post__text--3">Login with GitHub , Bitbucket or Gitlab choose a project, and then push update in a branch. Could it be any simpler!
            </p>
        </div>
        <div class="section__post--box">
            <span class="section__post__head">INSTANT CHANGES
            </span>
            <p class="section__post__text section__post__text--3">All your changes instantly will be reflected on staging servers and builds for every branch across all your repositories. Make sure every pull request is tested.
            </p>
        </div>
        <div class="section__post--box">
            <span class="section__post__head">STAGING SERVERS
            </span>
            <p class="section__post__text section__post__text--3">Run staging server per branch in your repo. Each pull request use separate server and can be checked separately.
            </p>
        </div>
    </div>
</section>