<section class="section--1">
    <div class="section__post">
        <h2 class="section__post__head">Build and deploy automation
        </h2>
        <p class="section__post__text">Cimon is a platform for building your applications and run staging servers.
        </p>
        <a href="#SignIn" class="section__post__btn">
            <i class="section__post__icon icon-git"></i>request beta account
         </a>
    </div>
    <img src="{{"/images/1-1.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--1-1">
    <img src="{{"/images/1-2.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--1-2">
    <img src="{{"/images/1-3.svg" | prepend: site.prefix }}" alt="background-conveyor" class="section__img--1-3">
    <figure class="section__figure--left">
        <img src="{{"/images/cimon.svg" | prepend: site.prefix }}" alt="robot">
        <img src="{{"/images/cimon.svg" | prepend: site.prefix }}" alt="robot">
        <img src="{{"/images/cimon.svg" | prepend: site.prefix }}" alt="robot">
        <img src="{{"/images/cimon.svg" | prepend: site.prefix }}" alt="robot">
    </figure>
    <figure class="section__figure--right">
        <img src="{{"/images/cimon-hand-up.svg" | prepend: site.prefix }}" alt="robot">
    </figure>
</section>