<ul class="social">
    <li class="social__item">
        <a class="social__link" href="https://twitter.com/cimonserver" title="Twitter" data-original-title="Twitter">
            <i class="social__icon icon-twitter">
            </i>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link" href="https://www.facebook.com/cimon.io" title="" data-original-title="facebook">
            <i class="social__icon icon-facebook"></i>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link" href="#" title="" data-original-title="ball">
            <i class="social__icon icon-dribbble">
            </i>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link" href="https://github.com/cimon-io/" title="" data-original-title="Github">
            <i class="social__icon icon-octocat">
            </i>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link" href="#" title="YouTube" data-original-title="YouTube">
            <i class="social__icon icon-youtube">
            </i>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link" href="https://plus.google.com2" title="" data-original-title="Google-plus">
            <i class="social__icon icon-gplus">
            </i>
        </a>
    </li>
</ul>