.container {
    width: 100%;
    max-height: $height;
    height: $height;
    position: relative;
    overflow: hidden;

    &__rectangle--left {
        width: image-position(10px);
        max-height: $height;
        height: $height;
        background-color: $background-border;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    &__rectangle--right {
        width: image-position(10px);
        max-height: $height;
        height: $height;
        background-color: $background-border;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &__border--left {
        width: image-position(113px);
        max-height: $height;
        height: $height;
        background: image-url("border_left.svg") right top;
        background-repeat: repeat-y;
        background-size: 114px 4000px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    &__border--right {
        width: image-position(85px);
        max-height: $height;
        height: $height;
        background: image-url("border_right.svg") left top;
        background-repeat: repeat-y;
        background-size: 90px 4000px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
}