footer {
    width: $hdwidth;
    margin: 0 auto;
    height: 450px;
    background-color: $background-footer;
    position: relative;
    img {
        position: absolute;
    }
}

.footer {
    &__img {
        &--1 {
            width: 237px;
            height: 119px;
            top: -4px;
            right: image-position(451px);
        }
        &--2 {
            width: 46px;
            height: 98px;
            top: -43px;
            right: image-position(544px);
        }
        &--3 {
            width: 234px;
            height: 13px;
            top: 12px;
            right: image-position(454px);
        }

    }
}
