footer {
    width: 100%;
    max-width: $hdwidth;
    margin: 0 auto;
    height: 450px;
    background-color: $background-footer;
    position: relative;
    img {
        position: absolute;
    }
}

.footer {
    &__img {
        &--1 {
            width: 239px;
            height: 155px;
            top: -37px;
            right: image-position(451px);
        }
    }
}

@import"social-links";
