header {
    width: 100%;
    height: auto;
    max-height: 525px;
    @include mediaQueries("tablet") {
        height: 155px;
    }
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    @include mediaQueries("tablet-sm", max) {
        flex-wrap: wrap;
    }
    @include mediaQueries("tablet-lg") {
        padding: 1.5rem 3rem;
    }
    @include mediaQueries("desktop-lg") {
        width: 80%;
    }
    &__logo {
        width: 100%;
        margin-left: 5%;
        line-height: 167px;
        @include mediaQueries("tablet-sm") {
            margin-left: 2%;
            width: 175px;
            line-height: 126px;
        }
        @include mediaQueries("tablet-lg") {
            margin-left: image-position(435px);
        }
        a {
            font-family: "Nunito";
            color: $font-color;
            text-decoration: none;
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 3px;
        }
    }
    &__list {
        @include mediaQueries("tablet-sm", max) {
           display: none;
           flex-wrap: wrap;
           width: 98vw;
           margin: 0 auto;
        }
        @include mediaQueries("tablet-sm") {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 90%;
            justify-content: flex-end;
            align-content: center;
            margin: auto;
        }
        @include mediaQueries("tablet-lg") {
            width: 65%;
        }
        &__item {
            display: -webkit-inline-flex;
            display: -moz-inline-flex;
            display: -ms-inline-flex;
            display: -o-inline-flex;
            display: inline-flex;
            align-items: center;
            box-sizing: border-box;
            @include mediaQueries("tablet-sm", max) {
                width: 100%;
                background-color: $background-menu;
                border-bottom: 1px solid $background-border;
                border-left: 1px solid $background-border;
                border-right: 1px solid $background-border;
                border-radius: 5px;
                    &:nth-child(1) {
                        border-top: 1px solid $background-border;
                    }
                    &:hover {
                        background-color: $background-footer;
                    }
                    &:focus {
                        background-color: $background-footer;
                    }
            }
        }
    }
    &__link {
        @include mediaQueries("tablet-sm", max){
            width: 100%;
            padding: 1rem;
            text-align: center;
            &:focus {
                background-color: $background-footer;
            }
        }
        @include mediaQueries("tablet-sm") {
            padding: 1rem 1rem;
            font-size: 21px;
        }
        @include mediaQueries("tablet-lg") {
            padding: 1rem 1.5rem;
        }
        font-size: 26px;
        font-weight: 400;
        text-decoration: none;
        color: $font-color;
        border-bottom: solid 1px transparent;
        -webkit-transition: border-bottom .1s ease-out;
        -moz-transition: border-bottom .1s ease-out;
        -ms-transition: border-bottom .1s ease-out;
        -o-transition: border-bottom .1s ease-out;
        transition: border-bottom .1s ease-out;
            &:hover {
                @include mediaQueries("tablet-sm") {
                    border-bottom: solid 1px $background-border;
                }
                color: #1c1b1a;
            }
            &--active {
                font-weight: 800;
            }
    }
}
@import"btn-menu";