.section {
    &--3 {
        height: 530px;
    }
    &__img {
        &--3-1 {
            width: 603px;
            height: 1031px;
            top: 6px;
            left: image-position(0px);
        }
        &--3-2 {
            width: 480px;
            height: 401px;
            top: 220px;
            left: image-position(0px);
        }
        &--3-3 {
            width: 1920px;
            height: 34px;
            top: 497px;
            left: image-position(0px);
        }
        &--3-4 {
            width: 893px;
            height: 498px;
            top: 0;
            right: image-position(0px);
            z-index: 3;
        }
    }
    &__post {
       &--box {
            @include mediaQueries("tablet-sm", max) {
                width: 212px;
                margin-left: 5%;
            }
            @include mediaQueries("tablet-sm") {
                width: 90%;
                margin-left: 10%;
                margin-right: 0;
            }
        }
        span {
            @include mediaQueries("tablet-sm", max) {
                font-size: 20px;
            }
            @include mediaQueries("tablet-sm") {
                font-size: 24px;
            }
            font-weight: 500;
        }
        &--3 {
            height: auto;
            border: none;
            background-color: transparent;
            margin-left: 0;
            padding-top: 1.5rem;
            @include mediaQueries("tablet-sm", max) {
                width: 385px;
                text-align: left;
                left: image-position(800px);
                top: 0px;
            }
            @include mediaQueries("tablet-sm") {
                width: 400px;
                text-align: right;
                left: image-position(620px);
                top: 1px;
            }
            @include mediaQueries("tablet-lg", max) {
                background-color: $background-body;
            }
        }
        &__text {
            &--3 {
                @include mediaQueries("tablet-sm", max) {
                    padding: 3% 0 10% 0;
                }
                @include mediaQueries("tablet-sm") {
                    padding-bottom: 10%;
                }
                letter-spacing: -0.5px;
            }
        }
    }
}
