.section {
    &--4 {
        height: 1363px;
    }
    &__img {
        &--4-1 {
            width: 1921px;
            height: 606px;
            top: 0;
            right: image-position(-4px);
        }
        &--4-2 {
            width: 1920px;
            height: 866px;
            bottom: 0;
            right: image-position(-5px);
        }
        &--4-3 {
            width: 1920px;
            height: 379px;
            bottom: 0;
            @include mediaQueries("phablet", max) {
                left: image-position(-204px);
            }
            @include mediaQueries("tablet-sm") {
                left: image-position(0px);
            }
        }
        &--4-4 {
            width: 324px;
            height: 284px;
            bottom: 0;
            left: image-position(0px);
        }
    }
    &__figure--4 {
        width: 356px;
        height: 367px;
        position: absolute;
        bottom: 0px;
        @include mediaQueries("phablet", max) {
            right: image-position(740px);
        }
        @include mediaQueries("tablet-sm") {
            right: image-position(500px);
        }
        img {
            width: 356px;
            height: 367px;
        }
    }
    &__post {
        &--4 {
            width: 665px;
            border: none;
            background-color: transparent;
            @include mediaQueries("phablet", max) {
                top: 5px;
            }
            @include mediaQueries("tablet-sm") {
                top: 30px;
            }
        }
        &--5 {
            top: 665px;
        }
    }
}