.section {
    &--4 {
        height: 1363px;
    }
    &__img {
        &--4-1 {
            width: 1921px;
            height: 606px;
            top: 0;
            right: image-position(-4px);
        }
        &--4-2 {
            width: 1920px;
            height: 866px;
            bottom: 0;
            right: image-position(-5px);
        }
        &--4-3 {
            width: 1920px;
            height: 497px;
            bottom: -118px;
            z-index: 1;
            @include mediaQueries("tablet-lg", max) {
                left: image-position(-255px);
            }
            @include mediaQueries("tablet-lg") {
                left: image-position(0px);
            }
        }
        &--4-4 {
            width: 324px;
            height: 284px;
            bottom: 0;
            left: image-position(0px);
        }
    }
    &__figure--4 {
        width: 356px;
        height: 367px;
        position: absolute;
        bottom: 0px;
        @include mediaQueries("tablet-lg", max) {
            right: image-position(750px);
        }
        @include mediaQueries("tablet-lg") {
            right: image-position(500px);
        }
        img {
            width: 356px;
            height: 367px;
        }
    }
    &__post {
        &--4 {
            border: none;
            background-color: transparent;
            z-index: 0;
            @include mediaQueries("tablet-sm", max) {
                top: 5px;
                left: 50%;
                width: 320px;
                margin-left: -160px;
            }
            @include mediaQueries("tablet-sm") {
                top: 30px;
                width: 608px;
                margin-left: -304px;
            }
            @include mediaQueries("tablet-lg") {
                width: 665px;
            }
        }
        &--5 {
            top: 665px;
            visibility: hidden;
        }
    }
}