.section {
    &--3 {
        height: 530px;
    }
    &__img {
        &--3-1 {
            width: 603px;
            height: 1031px;
            top: 6px;
            left: image-position(0px);
        }
        &--3-2 {
            width: 480px;
            height: 401px;
            top: 220px;
            left: image-position(0px);
        }
        &--3-3 {
            width: 1920px;
            height: 34px;
            top: 497px;
            left: image-position(0px);
        }
        &--3-4 {
            width: 893px;
            height: 498px;
            top: 0;
            right: image-position(0px);
        }
    }
    &__post {
        span {
            font-size: 24px;
        }
        &--3 {
            width: 320px;
            height: auto;
            left: image-position(680px);
            border: none;
            background-color: transparent;
            top: 53px;
            text-align: right;
            margin-left: 0;
        }
        &__text {
            &--3 {
               padding-bottom: 10%;
               letter-spacing: -0.5px;
        }
        }
    }
}
