.section {
    &--2 {
        height: 720px;
    }
    &__img {
        &--2-1 {
            width: 1488px;
            height: 710px;
            top: 8px;
            @include mediaQueries("tablet-sm", max) {
                left: image-position(190px);
            }
            @include mediaQueries("tablet-sm") {
                left: image-position(10px);
            }
            @include mediaQueries("tablet-lg") {
                left: image-position(0px);
            }
        }
        &--2-2 {
            width: 1920px;
            height: 11px;
            top: 4px;
            left: image-position(0px);
        }
        &--2-3 {
            width: 769px;
            height: 849px;
            top: -40px;
            right: image-position(0px);
        }
        &--2-4 {
            width: 451px;
            height: 324px;
            top: 275px;
            left: image-position(0px);
        }
        &--2-5 {
            width: 649px;
            height: 261px;
            top: 654px;
             @include mediaQueries("tablet-lg", max) {
                  left: image-position(10px);
              }
              @include mediaQueries("tablet-lg") {
                  left: image-position(0px);
              }
        }
        &--2-6 {
            width: 589px;
            height: auto;
            top: 340px;
            @include mediaQueries("tablet-sm", max) {
                left: image-position(854px);
            }
            @include mediaQueries("tablet-sm") {
                left: image-position(676px);
            }
            @include mediaQueries("tablet-lg") {
                left: image-position(666px);
            }
        }
    }
    &__post {
        &--2 {
            border: none;
            background-color: transparent;
            @include mediaQueries("tablet-sm", max) {
                top: 80px;
                left: 50%;
                width: 320px;
                margin-left: -160px;
            }
            @include mediaQueries("tablet-sm") {
                top: 104px;
            }
        }
        &__text {
            &--2 {
                letter-spacing: -1px;
            }
        }
    }
}