@import"social-font";

.social {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    &__item {
        display: flex;
        @include mediaQueries("tablet-sm", max) {
            padding: 1rem;
        }
        @include mediaQueries("tablet-sm") {
            padding: 1rem 2rem;
        }
    }
    &__link {
        i {
            width: 3rem;
            height: 3rem;
            background-size: 3rem 3rem;
            box-sizing: border-box;
            background-repeat: no-repeat;
            display: inline-flex;
            &:hover {
                opacity: 0.7;
            }
            &:focus {
                opacity: 0.7;
            }
        }
    }
    &__icon {
        &--twitter {
            background-image: image-url("twitter.svg");
        }
        &--facebook {
            background-image: image-url("facebook.svg");
        }
        &--github {
            background-image: image-url("github.svg");
        }
        &--linkedin {
            background-image: image-url("linkedin.svg");
        }
    }
}