.social {
    padding-top: 255px;
    margin-left: image-position(725px);
	width: auto;
    @extend .clearfix;
    &__item {
    	float: left;
        margin-right: 24px;
        list-style: none;
            &:last-child {
	            margin-right: 0px;
            }
    }
    &__link {
      	width: $social-size;
        height: $social-size;
        display: block;
        text-decoration: none;
        color: $background-footer;
        background-color: black;
        border-radius: 50%;
        text-align: center;
        line-height: 44px;
        overflow: hidden;
        &:hover {
            background-color: #484745;
        }
        &:focus {
            outline: none;
            background-color: $background-border;
        }
        &::after {
            content: '';
            position: absolute;
            top: 51%;
            left: 43%;
            width: 116px;
            height: 99px;
            border-radius: 50%;
            opacity: 0;
            pointer-events: none;
        }
    }
    &__icon {
        display: block;
        font-size: 24px;
    }
}

.icon {
    &-twitter {
        font-size: 18px;
    }
    &-gplus {
        font-size: 39px;
        padding-top: 7px;
    }
}

