
$breakpoints: ( "phone": 300px,
                "phone-lg": 481px,
                "phablet": 679px,
                "tablet-sm": 680px,
                "tablet": 769px,
                "tablet-lg": 1024px,
                "desktop-sm": 1281px,
                "desktop": 1440px,
                "desktop-lg": 1681px,
                "desktop-hd": 1921px);

$hdwidth: 1920px;
$height: 100%;
$background-body: #FFF1AB;
$background-border: #867F5E;
$background-menu: #F4E0A1;
$background-footer: #DFCE94;
$font-color: #32302D;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$social-size: 44px;
