--- ---
<!DOCTYPE html>
<html lang="en">
<head> {% include meta.html %} {% include stylesheets.html %}
  <title> {{ site.title }} </title>
</head>
<body>
  <div class="container">
<!-------------Container borders---------------->
    <div class="container__rectangle--left"></div>
    <div class="container__border--left"></div>
    <div class="container__border--right"></div>
    <div class="container__rectangle--right"></div>
<!---------END of container borders-------------->
<!----------------Main content------------------->
    <main class="content">
      <section> <img src="images/conveyor_1.svg" alt="background-conveyor" class="content__img--1"> </section>
      <section> <img src="images/conveyor_2.svg" alt="background-conveyor" class="content__img--2">
<!------div class="text" only for example------->
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nostrum, eligendi perspiciatis repellendus veniam sunt eius dolor esse dignissimos numquam deserunt harum voluptatem sequi odit quisquam sed distinctio nam quaerat neque commodi. Numquam ad ipsum, officia ea perferendis, ut totam sequi voluptates quisquam deserunt minima non cupiditate amet expedita minus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nostrum, eligendi perspiciatis repellendus veniam sunt eius dolor esse dignissimos numquam deserunt harum voluptatem sequi odit quisquam sed distinctio nam quaerat neque commodi. Numquam ad ipsum, officia ea perferendis, ut totam sequi voluptates quisquam deserunt minima non cupiditate amet expedita minus.</p>
        </div>
<!--------------------END----------------------->
      </section>
      <section> <img src="images/conveyor_3.svg" alt="background-conveyor" class="content__img--3"> </section>
      <section> <img src="images/conveyor_4.svg" alt="background-conveyor" class="content__img--4"> </section>
      <section> <img src="images/conveyor_5.svg" alt="background-conveyor" class="content__img--5"> </section>
      <section> <img src="images/conveyor_6.svg" alt="background-conveyor" class="content__img--6"> </section>
    </main>
<!------------End of main content--------------->
    <footer>
       <img src="images/bottle.svg" alt="bottle">
    </footer>
  </div>
</body>

</html>